<div class="container">
    <div class="row mt-4">
        <div class="row">
            <div class="col-sm-1"><img src="../../../assets/images/success.webp" width="40px"></div>
            <div class="col-sm-9 ng_margin">
                <h3 class="price">&#8377; 110</h3>
                <h4>Application Submitted</h4>
                <p>Paid via Wallet</p>
            </div>
            <div class="col-sm-2"><img src="../../../assets/images/refresh.png" alt="refresh" width="40px"></div>
        </div>
    </div>
    <div class="row">
        <div class="border mt-3 pl-5 pr-5">
            <div class="row">
                <div class="col-sm-1"><img src="../../../assets/images/attention.webp" width="30px"></div>
            <div class="col-sm-11 ml-0 ng_margin"><p>Application is under process physical pan card will be delevered to the customer <br>regietered address</p></div>
            </div>
            
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col">
                <ul>
                    <li class="list-group">Application Type</li>
                    <li class="list-group">Name</li>
                    <li class="list-group">Mobile number</li>
                    <li class="list-group">Email id</li>
                    <li class="list-group">Transaction id </li>
                    <li class="list-group">Date and Time</li>
                </ul>
            </div>
            <div class="col mb-5">

                <ul>
                    <li class="list-group"><b>physical PAN</b></li>
                    <li class="list-group"><b>Manish Raj Kumar</b></li>
                    <li class="list-group"><b>9820499599</b></li>
                    <li class="list-group"><b>manish34xyz@gmail.com</b></li>
                    <li class="list-group"><b>PNB74937935</b></li>
                    <li class="list-group"><b>25-FEB-21, 11:30 AM</b></li>

                </ul>
            </div>
            <hr>
            <div class="col-sm-1"><img src="../../../assets/images/massage.png" width="40px"></div>
            <div class="col-sm-11 ng_margin">
                <h4>New Application</h4>
                <p>Submit another PAN Application</p>
            </div>
            <hr>
            <div class="col-sm-1"><img src="../../../assets/images/attention.webp" width="30px"></div>
            <div class="col-sm-11 ng_margin">
                <h4>Raise a complaint</h4>
                <p>Resolution will take around 24-48 hours</p>
            </div>
        </div>
    </div>